parameters:
	level: 5
	paths:
		- controller
		- event
		- migrations
	excludePaths:
		- vendor
	bootstrapFiles:
		- phpstan-bootstrap.php
	scanDirectories:
		- ../../../phpbb
		- ../../../vendor/symfony
